$color-accent: #a00404;
$color-main: #96A9C4;
$color-deep: #415165;

$fz-giant: 80px;
$fz-large: 32px;
$fz-base: 24px;
$fz-small: 20px;

$fc-black: #000;
$fc-white: #fff;

$fw-medium: 500; 
$fw-regular: 400;
$fw-light: 300;
